.orders{
    margin-left: 1rem;
}
.calc-order-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--color1);
    margin-bottom: .5rem;
    padding: 1rem;
    border-radius: var(--borderr);
}

.order-piece-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.calculate-container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    min-height: 580px;
    height: 100%;
    margin-left: auto;
    padding: 1rem;
    border-radius: var(--borderr);
    box-shadow: var(--boxshadow);
    background-color: var(--colorwhite);
}

.calculate-header-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    font-size: 2rem;
}

.bstrash {
    margin-left: auto;
    cursor: pointer;
}
.bstrash:active{
    color: var(--color5);
}

.calculate-content {
    min-height: 380px;
    width: 100%;
    overflow: auto;
}

.calc-tpb-cont {
    margin-top: auto;
}

.order-name {
    font-weight: bold;
}

.order-btn {
    padding: 0 .4rem 0 .4rem;
    border-radius: var(--borderr);
    font-size: 2rem;
}

.order-btn:active {
    background-color: var(--color1);
}

.order-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    color: var(--colorwhite);
    font-size: 1.5rem;
    font-weight: bold;
}

.order-total {
    padding: 5px;
    margin-left: 5px;
    background-color: var(--color3);
    border-radius: var(--borderr);
    color: var(--colorwhite);
}

.calc-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.calculate-subtotal {
    font-size: 1.2rem;
}

.calculate-tax {
    font-size: 1rem;
}

.calculate-grandtotal {
    font-weight: bold;
    font-size: 1.4rem;
}
.calculate-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.calculate-btn{
    display: flex;
    align-items: center;
    padding: .5rem 3rem .5rem 3rem;
    border-radius: var(--borderr);
    font-size: 1.2rem;
    border: none;
}
.calculate-btn:active{
    opacity: 80%;
    color: white;
}