.products-cont{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.products-search-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.pro-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 .5rem 1rem;
}

.search-text{
    width: 100%;
    padding: .5rem;
    font-size: 1rem;
    border-radius: var(--borderr);
    border: 3px solid var(--color1);
    outline: none;
}

input.search-text:focus{ 
    border: 3px solid var(--color2);
}

.pro-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--borderr);
    background-color: var(--colorwhite);
    box-shadow: var(--boxshadow);
}

.products-contents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    padding-right: 1rem;
    overflow: auto;
}